*{
  font-family: Calibri;

}

p{
  color: red;
}

.font{
  text-align: left;
  font-size: 14px;
  font-family: Arial
}

img{
  width: 400px;
}

.info{
  display: flex;
}

#bamboo-grove{
  height: 50%;
}

#traditions{
  width: 500px;
  border: 10px double #0b1165;
}
